* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 360px;
  font-family: Inter;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;
}

#topSection {
  background-image: url(/assets/bg/background-top.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 785px 485px;
  max-width: 1024px;
  margin: 0 auto;
}

.header-content {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f8fa;
}

.top-nav-logo {
  width: 154.9px;
  height: 46.1px;
}

.top-nav {
  align-items: center;
  display: flex;
  gap: 30px;
}

.bars {
  display: none;
}

.top-nav > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #677788;
}

.buy-btn {
  border: 1px solid #2476ff;
  color: #ffffff;
  width: 100px;
  height: 43px;
  border-radius: 30px;
  background-color: #2476ff;
}

.top-content {
  display: flex;
  padding: 40px 30px 0;
  height: 446px;
}

.left-part {
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 0 60px 0;
  gap: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 11px;
}

.title > h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  width: 75%;
}

.title > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #677788;
  text-align: left;
}

.top-actions {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 20px;
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2476ff;
  color: #ffffff;
  width: 137px;
  height: 48px;
  border-radius: 30px;
  background-color: #2476ff;
  gap: 8px;
}

.fa-circle-play {
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
}

.top-actions > a {
  font-weight: 700;
  font-size: 14px;
}

.right-part {
  position: relative;
  flex: 1;
}

.top-logo {
  background: #ffffff;
  box-shadow: 0px 3px 13px 0px #00000040;
}

.google,
.ads {
  width: 40px;
  height: 40px;
}

.atlassian,
.asana,
.paypal,
.weave,
.calendar {
  width: 48px;
  height: 48px;
}

.google-logo {
  animation: google-move 2s linear 2s 1 normal none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 64px;
  border-radius: 30px;
  padding: 10px;
}

.atlassian-logo {
  animation: atlassian-move 2s linear 2s 1 normal none;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 175px;
  border-radius: 40px;
  padding: 16px;
}

.asana-logo {
  animation: asana-move 2s linear 2s 1 normal none;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 380px;
  border-radius: 40px;
  padding: 16px;
}

.paypal-logo {
  animation: paypal-move 2s linear 2s 1 normal none;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 172px;
  left: 44px;
  border-radius: 40px;
  padding: 16px;
}

.weave-logo {
  animation: weave-move 2s linear 2s 1 normal none;
  position: relative;
  width: 80px;
  height: 80px;
  top: 172px;
  left: 262px;
  border-radius: 40px;
  padding: 16px;
}

.ads-logo {
  animation: ads-move 2s linear 2s 1 normal none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 290px;
  left: 155px;
  border-radius: 30px;
  padding: 10px;
}

.calendar-logo {
  animation: calendar-move 2s linear 2s 1 normal none;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 310px;
  left: 364px;
  border-radius: 40px;
  padding: 16px;
}

.front-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 354px;
  padding: 0 30px 80px;
  gap: 40px;
}

.why-front {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
  text-align: center;
}

h2 {
  font-size: 26px;
  line-height: 100%;
}

p {
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #677788;
}

.bullets-list {
  padding: 0 34px;
  display: flex;
}

.bullet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 145px;
  padding: 26px 0;
  gap: 24px;
}

.bullet-top {
  display: flex;
  align-items: center;
  gap: 4px;
}

.bullet > span {
  font-weight: 500;
  text-align: center;
}

.bullet-circle {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #ecf2ff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  gap: 10px;
}

.bullet-inner {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #0066ff;
}

.right-wing,
.left-wing {
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

#right-wing,
#left-wing {
  width: 83px;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  padding: 0 0 120px 0;
  gap: 60px;
}

.pricing-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.plansFeaturesList {
  display: flex;
  padding: 0 30px;
  gap: 30px;
}

.pricing-table {
  display: flex;
  gap: 30px;
}

.plan {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
  gap: 50px;
  border: 1px solid transparent;
}

.planHeader {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.planHeader > p {
  text-align: left;
}

.planPrice {
  display: flex;
  align-items: flex-end;
  gap: 7px;
}

.fiveNine {
  font-weight: 500;
  font-size: 50px;
}

.mo {
  padding-bottom: 9px;
  font-weight: 510;
  font-size: 20px;
  color: #677788;
}

.divider {
  height: 1px;
  background-color: #8d8d8d;
}

.planFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.planFooter > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #677788;
}

.planFeatures {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 10px;
}

.rowOne,
.rowTwo {
  display: flex;
  gap: 10px;
}

.planFeatureItem {
  flex: 1;
  padding: 20px;
  border: 1px solid #ffffff;
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.planFeatures img {
  width: 50px;
}

.itemContent > p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.titleFeatureIcon {
  display: flex;
  gap: 10px;
}

button.sketchIcon {
  padding: 4px 10px;
  border-radius: 15px;
  background: #01c9a7;
  border: 1px solid #01c9a7;
  color: #ffffff;
}

.hireUs {
  display: flex;
  height: 708px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  background: #20335b;
}

.leftPartHire {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  gap: 60px;
}

.hireUsTop {
  color: #ffffff;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hireUsContainer {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.hireTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hireTitle > p {
  text-align: left;
}

#divider {
  height: 1px;
  background-color: #ffffff;
}

.italicized {
  color: #ffffff;
  font-style: italic;
  line-height: 24px;
  text-align: left;
}

.hireUsBottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.person {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  gap: 4px;
}

.person h4 {
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}

.person p {
  font-size: 14px;
  line-height: 100%;
  text-align: left;
}

.personsImage {
  display: flex;
  gap: 30px;
}

.personsImage img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.rightPartHire {
  display: flex;
  flex: 1;
  gap: 10px;
}

.form-Hire {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  gap: 37px;
  background: #ffffff;
}

.formData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formData h4 {
  line-height: 24px;
}

.formGroup {
  display: flex;
  gap: 20px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
}

input::placeholder {
  font-size: 14px;
  color: #828282;
}

select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #e6e8f2;
}

textarea {
  font-family: Inter;
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  resize: none;
}

.marketing {
  display: flex;
  gap: 16px;
}

.marketing .promotional {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #828282;
}

.privacyPolicy {
  display: flex;
  gap: 28px;
}

.privacyPolicy a {
  font-weight: 700;
  line-height: 22px;
  text-underline-position: under;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.checkInput {
  padding-top: 4px;
}

#checkbox {
  appearance: none;
  width: 25px;
  height: 24px;
  border: 1px solid #e6e8f2;
  border-radius: 3px;
}

input[type="submit"] {
  border: 1px solid #2476ff;
  color: #ffffff;
  width: 125px;
  height: 45px;
  border-radius: 30px;
  background-color: #2476ff;
}

footer {
  max-width: 1024px;
  height: 246px;
  padding: 40px 30px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  gap: 40px;
  padding: 0;
}

.footerContact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-footer {
  width: 100px;
}

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map,
.phone {
  display: flex;
  gap: 9px;
}

.map > span {
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  color: #677788;
}

.iconFooter {
  display: flex;
  padding-top: 2px;
  font-size: 12px;
  color: #677788;
}

.phone a {
  color: #2576ff;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
}

.footerRight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 49px;
}

.topRow {
  display: flex;
  flex-direction: row;
  gap: 49px;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  gap: 49px;
}

.footerTiles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerTiles h4 {
  font-weight: 860;
  font-size: 18px;
  line-height: 100%;
}

.footerTiles ul {
  list-style: none;
}

.footerUl-Nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerUl-Nav ul > li {
  display: flex;
  gap: 9px;
}

.footerUl-Nav ul > li > a {
  font-size: 14px;
}

.weirdSpan {
  align-items: center;
}

.weirdSpan > span {
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: 510;
  font-size: 8px;
  line-height: 100%;
  background-color: #2576ff;
  border: 1px solid #2576ff;
}

.weirdSpan > span > a {
  color: #ffffff;
}

ul li i {
  color: #677788;
}

@media (min-width: 1023px) {
  a:hover {
    color: #2476ff;
  }
  button:hover {
    background-color: #ffffff;
    color: #2476ff;
  }
  .play-btn:hover {
    background-color: #ffffff;
    color: #2476ff;
  }
  .plan:hover {
    border: 1px solid #e2e2e2;
    box-shadow: 0px 10px 20px 0px #00000026;
  }
  button.sketchIcon:hover {
    color: #01c9a7;
    background-color: #ffffff;
  }
  input[type="submit"]:hover {
    background-color: #ffffff;
    color: #2476ff;
  }
  .weirdSpan > span:hover {
    background-color: #ffffff;
    color: #2576ff;
  }
  .weirdSpan > span:hover a {
    color: #2576ff;
  }
}

@media (max-width: 1023px) {
  #topSection {
    max-width: 1023px;
    background-position: unset;
    background-size: auto 531px;
  }

  .content {
    max-width: 1023px;
  }

  nav.top-nav > ul,
  nav > .buy-btn {
    display: none;
  }

  .bars {
    display: flex;
    padding: 6px 14px;
    gap: 30px;
    color: #677788;
    border: none;
    background: none;
  }

  .fa-bars {
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
  }

  .top-content {
    height: 664px;
    flex-direction: column;
    padding: 40px 30px 0;
  }

  .left-part {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0;
  }

  .title {
    width: 100%;
  }

  .title h1 {
    width: 100%;
    text-align: center;
  }

  .title > p {
    text-align: center;
  }

  .google-logo {
    left: 110px;
  }

  .atlassian-logo {
    left: 287px;
  }

  .asana-logo {
    left: 533px;
  }

  .paypal-logo {
    top: 99px;
    left: 112px;
  }

  .weave-logo {
    top: 99px;
    left: 414px;
  }

  .ads-logo {
    top: 209px;
    left: 230px;
  }

  .calendar-logo {
    top: 229px;
    left: 517px;
  }

  .front-section {
    padding-bottom: 80px;
  }

  .why-front {
    width: 85%;
  }

  .bullets-list {
    justify-content: space-between;
    padding: 0;
  }

  .right-wing,
  .left-wing,
  #right-wing,
  #left-wing {
    width: 58.5px;
  }

  .pricing-section {
    padding: 0 0 60px 0;
    gap: 60px;
  }
  .pricing-table {
    flex-direction: column;
  }

  .plansFeaturesList {
    padding: 0 44px;
  }

  .plan {
    border: 1px solid #e2e2e2;
    justify-content: center;
    align-items: center;
  }

  .planHeader {
    align-items: center;
    justify-content: center;
  }

  .planHeader .divider {
    width: 100%;
  }

  .hireUs {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .leftPartHire {
    flex-direction: row;
    padding: 40px 30px 20px;
  }

  .hireUsTop {
    flex: 2;
  }

  .hireUsBottom {
    width: 192px;
    gap: 30px;
  }

  .person {
    padding: 0;
  }

  .rightPartHire {
    padding: 30px;
  }

  .privacyPolicy a:nth-child(2) {
    display: none;
  }

  footer {
    height: 501px;
    display: flex;
    padding: 80px 30px 40px;
  }

  .footer-content {
    gap: 40px;
  }

  .footerRight {
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    flex: 2;
    flex-wrap: wrap;
  }

  .topRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 80px;
  }

  .bottomRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 49px;
  }
}

@media (max-width: 767px) {
  #topSection {
    max-width: 767px;
  }

  .content {
    min-width: 360px;
    max-width: 767px;
  }

  .top-content {
    height: 594px;
    padding: 40px 16px 60px;
    gap: 10px;
  }

  .left-part {
    gap: 30px;
  }

  .title h1 {
    font-size: 26px;
  }

  .title > p {
    text-align: center;
  }

  .google-logo {
    top: 0;
    left: 0;
  }

  .atlassian-logo {
    top: 0;
    left: 114px;
  }

  .asana-logo {
    top: 0;
    left: 248px;
  }

  .paypal-logo {
    top: 99px;
    left: 0;
  }

  .weave-logo {
    top: 99px;
    left: 184px;
  }

  .ads-logo {
    top: 209px;
    left: 106px;
  }

  .calendar-logo {
    top: 219px;
    left: 239px;
  }

  .front-section {
    padding: 20px 0 60px 0;
    height: auto;
  }

  .bullets-list {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
    padding: 0 34px;
  }

  .bullet {
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
  }

  .right-wing,
  .left-wing,
  #right-wing,
  #left-wing {
    display: none;
  }

  .plansFeaturesList {
    padding: 0 16px;
  }

  .rowOne,
  .rowTwo {
    flex-direction: column;
  }

  .planFeatureItem {
    padding: 20px 0;
  }

  .hireUs {
    padding: 0;
  }

  .hireUsTop {
    width: 100%;
  }

  .leftPartHire {
    flex-direction: column;
    padding: 40px 16px 20px;
    text-align: center;
  }

  p.italicized {
    text-align: center;
  }

  .hireUsBottom {
    width: 100%;
    align-items: center;
  }

  .rightPartHire {
    padding: 30px 16px;
  }

  .formGroup {
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer {
    justify-content: center;
    padding: 80px 16px 40px;
    height: auto;
  }

  .footer-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footerContact,
  .footerNav {
    gap: 20px;
    align-items: center;
  }

  .footerRight {
    flex-direction: column;
    gap: 49px;
  }
  .topRow,
  .bottomRow {
    flex-direction: column;
  }
  .footerTiles {
    align-items: center;
    padding: 0;
  }

  .footerUl-Nav > ul {
    align-items: center;
  }
}

/* Animations */

@media (min-width: 1024px) {
  @keyframes google-move {
    0% {
      opacity: 0%;
      left: 100%;
    }
    50% {
      opacity: 50%;
      left: 50%;
    }
    100% {
      opacity: 100%;
      left: 13.2%;
    }
  }

  @keyframes asana-move {
    0% {
      opacity: 0%;
      left: 0%;
    }
    50% {
      opacity: 50%;
      left: 50%;
    }
    100% {
      opacity: 100%;
      left: 78%;
    }
  }

  @keyframes ads-move {
    0% {
      opacity: 0%;
      left: 100%;
    }
    50% {
      opacity: 50%;
      left: 50%;
    }
    100% {
      opacity: 100%;
      left: 32%;
    }
  }

  @keyframes weave-move {
    0% {
      opacity: 0%;
      top: 100%;
    }
    50% {
      opacity: 50%;
      top: 70%;
    }
    100% {
      opacity: 100%;
      top: 42%;
    }
  }

  @keyframes atlassian-move {
    0% {
      opacity: 0%;
      top: 100%;
    }
    50% {
      opacity: 50%;
      top: 50%;
    }
    100% {
      opacity: 100%;
      top: 2%;
    }
  }

  @keyframes paypal-move {
    0% {
      opacity: 0%;
      top: 100%;
    }
    50% {
      opacity: 50%;
      top: 70%;
    }
    100% {
      opacity: 100%;
      top: 42%;
    }
  }

  @keyframes calendar-move {
    0% {
      opacity: 0%;
      top: 0%;
    }
    50% {
      opacity: 50%;
      top: 38%;
    }
    100% {
      opacity: 100%;
      top: 76%;
    }
  }
}
